body{
    background: url("../img/background.png") no-repeat top center / cover;
}
html{
    font-family: sans-serif;
}
header{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}
.wrapper{
    width: 1030px;
    margin: 0 auto;
}
.logo{
    display: flex;
}
.logo_img{
    background: url("../img/logo.png");
    width: 63px;
    height: 47px;
}
.logo{
    width: 180px;
}
.logo:hover .logo_img{
    background: url("../img/logo2.png");
}
.logo:hover .logo_txt{
    color: #F26522
}
.logo_txt{
    margin-left: 8px;
    display: flex;
    width: 140px;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
}
.logo_txt2{
    font-size: 18px;
}
.header_contacts{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
.mail{
    margin-bottom: 19px;
    color: white;
}
.phone{
    color: white;
}
.mail:hover{
    color: #F26522;
}
.phone:hover{
    color: #F26522;
}
.grid_item{
    width: 309px;
    height: 261px;
    position: relative;
}
.card2 > .card_img{
    height: 228px;
}
.grid_container{
    margin-top: 17px;
    display:  grid;
    grid-template-columns: repeat(3, 309px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 55px;
    grid-row-gap: 37px;
}
.card_img{

    width: 300px;
    height: 220px;
}
.img_desc{
    margin-top: 20px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
.p1{
    margin-top: 7px;
margin-left: 16px;
    font-size: 10px;
    color: #FFFFFF;
}
.p2{
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 16px;
}
.p3{
    position: absolute;
    font-size: 14px;
    color: #FFFFFF;
    right: 37px;
    bottom: 12px;
}
.p3:after{
    position: absolute;
    right: -16px;
    content: url("../img/Vector.png");
}
.descr{
    position: absolute;
    bottom: 42px;
    left: 0;
    right: 0;
    background: #F26522;
    width: 300px;
    height: 59px;
   opacity: 0;
    transition: 0.2s;
}
.grid_item:hover .descr{
    opacity: 1;
}
.grid_item:hover .img_desc{
    color: #F26522;
}
.footer_text{
    margin-top: 48px;
    margin-bottom: 15px;
    font-size: 12px;
    text-align: center;

    color: #FFFFFF;
}
